{{ "shopify-newsletter.css" | asset_url | stylesheet_tag }}

/* ✨ HTML Body ✨ */
<div class="custom-newsletter">
  <div class="custom-newsletter__container">
    <button class="custom-newsletter__close-btn" id="customNewsletter__close">X</button>
    <div class="custom-newsletter__logo">
      <img src="{{ section.settings.logo | img_url: "master" }}" alt="Store Logo" />
    </div>
    <div class="custom-newsletter__text">
      <h1 class="custom-newsletter__heading">{{ section.settings.heading }}</h1>
      <p class="custom-newsletter__paragraph">{{ section.settings.paragraph }}</p>
      {% form "customer", class: "custom-newsletter__form" %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="custom-newsletter__form-field-wrapper">
          <div class="custom-newsletter__field">
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="custom-newsletter__input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error--{{ section.id }}"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-success--{{ section.id }}"
              {% endif %}
              placeholder="{{ 'newsletter.label' | t }}"
              required
            >
            <label class="custom-newsletter__label" for="NewsletterForm--{{ section.id }}">
              {{ 'newsletter.label' | t }}
            </label>
            <button type="submit" class="custom-newsletter__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
              {% render 'icon-arrow' %}
            </button>
          </div>
          {%- if form.errors -%}
            <small class="custom-newsletter__message custom-newsletter__message--error" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
          {%- endif -%}
        </div>
        {%- if form.posted_successfully? -%}
          <h3 class="custom-newsletter__message custom-newsletter__message--success" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
        {%- endif -%}
      {% endform %}
    </div>
  </div>
</div>

{{ "shopify-newsletter.js" | asset_url | script_tag }}    

/* ✨ Dynamic configuration for the client ✨ */
{% schema %}
  {
    "name": "Pop Up",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "Store Logo"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading Here",
        "placeholder": "Header for newsletter",
        "info": "Header or Title"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph",
        "placeholder": "Description for newsletter",
        "info": "Description"
      }
    ],
    "presets": [
      {
        "name": "Pop Up"
      }
    ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}
